{% extends 'base.html' %}
5
{% block content %}
    <h2>{% block title %} Readings for Day: {{ reads.Bid }} || {{ tdate }} {% endblock %}</h2>
    <form class='/edit'}>
        <div class='post'>
            <br/>
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <pre><strong><label for="Reading" style="font-size: 14px;" value="{{ reads.Book }}:{{ reads.Chapter}}">
                    </label></strong></pre><br/>
                    <h5 class="card-body">
                    </h5>
                        <pre><textarea name="Feedback" rows="5" cols="60" 
                        	style="align-content:left overflow:auto; border:6px outset #000000;">{{ reads['Feedback'] }}
                        </textarea></pre>
                    </h5>        
                </div>
            </div>
                <a href="{{ url_for('edit', Id=reads['Bid']) }}">Edit</a>
        </div>
    </form>
{% endblock %}
